<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "DETAIL" + product.name}) %>

    <body>
        <%- include("./partials/header") %>
            <main class="main__detalle__main">
                <section>
                    <article class="detalle__section-article-01">
                        <div class="detalle__div-img">
                            <a href="#"><i class="far fa-heart"></i>Agregar a mis favoritos.</a>
                            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
                                <div class="carousel-inner border border-2 border-dark rounded">
                                    <div class="carousel-item active" data-bs-interval="10000">
                                        <img src="/img/products/<%= product.image %>" alt="">
                                    </div>
                                    <% product.images.forEach((image, index)=> { %>
                                        <% if (image) { %>
                                            <div class="carousel-item" data-bs-interval="2000">
                                                <img src="/img/products/<%= image.file %>" alt="">
                                            </div>
                                        <% } %>
                                    <% }) %>
                                </div>
                                <button class="carousel-control-prev" type="button"
                                    data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Anterior</span>
                                </button>
                                <button class="carousel-control-next" type="button"
                                    data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                                    <span class="visually-hidden">Siguiente</span>
                                </button>
                            </div>

                        </div>
                    </article>


                    <article class="detalle__section-article-02">
                        <h3 class="text-uppercase mt-5">
                            <%= product.name %>
                        </h3>
                        
                        <% if (product.discount!==0) { %>
                            <div class="detalle__section-article-precio text-decoration-line-through">Por: $ <%=
                                    product.price %>
                            </div>
                            <div class="detalle__section-article-descuento fs-1">$ <%= product.price - ((product.price*product.discount)/100)%>
                            </div>
                            <% } else { %>
                                <div class="detalle__section-article-precio">Por: $ <%= product.price %>
                                </div>
                                <% } %>
                               <section class="detalle__section-botones">
                                        <div class="detalle__div-botones">
                                            <a class="más" href="#"><i class="fas fa-plus"></i></a>
                                            <a class="uno" href="#">1</a>
                                            <a class="menos" href="#"><i class="fas fa-window-minimize"></i></a>
                                        </div>
                                        <a class="detalle__a-boton" href="#">COMPRAR ARTÍCULO</a>
                                </section>
                                <div class="col-12 px-md-5 d-block d-md-flex justify-content-between">
                                    <h5 class="fs-6">Marca : <%= product.brand.name %></h5>
                                    <h5 class="fs-6">Categoría : <%= product.category.name %></h5>

                                </div>
                    </article>
                    <article class="detalle__section-article-04">
                        <div class="w-100">
                            <h2 class="detalle-h2">Descripción</h2>
                            <p >
                                <%= product.description %>
                            </p>
                        </div>
                    </article>
                    <article class="detalle__carrusel-02">
                        <h1 class="tituloDestacados">Productos relacionados</h1>
                        <div class="detalle__section-article-02-carousel">
                            <!-- swiper ---------- -->
                            <div class="swiper mySwiper2 ">
                                <div class="swiper-wrapper">

                                    <!-- swiper -->

                                    <% productsRel.forEach(productRel=> { %>
                                        <% if (productRel.category.id===product.category.id) { %>
                                            <div class="swiper-slide">
                                                <div class="card_recomendados">
                                                    <img src="/img/products/<%= productRel.image %>" class="img-fluid"
                                                        alt="#">
                                                    <div >
                                                        <% if (productRel.discount!==0) { %>
                                                                <div class="descripcion_recomendados">
                                                                    <h5 >
                                                                        <%= productRel.discount %>%
                                                                    </h5>
                                                                </div>
                                                        <% } %>
                                                        
                                                        <div class="d-flex flex-column align-items-center">
                                                            <p class="card-text">
                                                                <%= productRel.description && productRel.description.substr(0,120)%>..
                                                            </p>
                                                         <a class="btn btn-primary "
                                                                href="/products/detalle/<%= productRel.id %>">Ver
                                                                Producto</a>
                                                            </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <% } %>

                                                <% }) %>

                                </div>
                                <div class="swiper-pagination detalle__div__swiper-pagination"></div>
                                <div class="swiper-button-next arrow-next"></div>
                                <div class="swiper-button-prev"></div>
                            </div>
                        </div>
                    </article>
                </section>
            </main>
            <%- include("./partials/footer") %>

            <%- include("./partials/scripts") %>
            <script src="/javascripts/translate.js"></script>
        <script src="/javascripts/detalle.js"></script>
    </body>

</html>