<!DOCTYPE html>
<html lang="en">
    <%- include("./partials/head", { title: "Productos"}) %>

<body>
    <%- include("./partials/header") %>
    <main class="main_create">
        <div class="main_create_cont">
            <div class="main_create_cont_container_form" >
                <form class="clase_formularios" action="/products/updateProduct/<%= id %>?_method=PUT" method="POST">
                    <div class="main__titulo-h1">
                        <h1>Editar producto</h1>
                        <hr>
                     </div>
                    <div class="clase_formularios_cajas">
                        <label for="name">Nombre:</label>
                        <input type="text" id="name" minlength="3" maxlength="20" name="name" value="<%= name %>" required/>
                    </div>
                    <div class="clase_formularios_cajas">
                        <label for="category">Categoría:</label>
                        <select class="form-select" name="category"> 
                            <% categorys.forEach(item => { %>
                                <option <%= item.category === category && 'selected' %> value="<%= item.category %>"><%= item.category %></option>
                                <% }) %>
                      </select>
                    </div>
                    
                    <div class="clase_formularios_cajas">
                        <label for="brand">Marca:</label>
                        <input type="text" id="brand" minlength="3" maxlength="20" name="brand" value="<%= brand %>" required/>
                    </div>
                    <div class="clase_formularios_cajas">
                        <label for="model">Modelo:</label>
                        <input type="text" id="model" minlength="3" maxlength="20" name="model" value="<%= model %>" required/>
                    </div>
                    <div class="clase_formularios_cajas">
                        <label for="price">Precio ($):</label>
                        <input type="number" id="price"  name="price" value="<%= price %>" required/>
                    </div>
                    <div class="clase_formularios_cajas">
                        <label for="discount">Oferta (%): </label>
                        <input type="number" id="discount" name="discount" value="<%= discount %>" required/>
                    </div>

                    <div class="clase_formularios_cajas tex_area">
                        <textarea class="form_product_text_area" maxlength="256" rows="5" cols="20" name="description" id="description" ><%= description %></textarea>
                    </div>
                    <div class="clase_formulario_botones">

                    
                    <div class="clase_formularios_cajas_btn_agregar">
                        <label class="boton__general btn_img" for="image"><i class="fa-solid fa-plus fa-2xl"></i>Agregar Imagen</label>
                        <input hidden type="file" id="image" name="image"/>
                            
                    </div>
                    <div class="clase_formulario_box_btn">
                        <input class="boton__general btn_form" type="reset" value="Cancelar" />
                        <input class="boton__general btn_form" type="submit" value="Editar" />
                    </div>
                    </div>
                </form>
              
            </div>
        </div>

    </main>
    <%- include("./partials/footer") %>
</body>
</html>