<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head", { title: "Mis favoritos"}) %>

<body>
    <%- include("./partials/header") %>
   <main>
    <h1>Mis Favoritos</h1>
    <% favorites.forEach(product => { %>
     
  
    <div class="card card_p heartFavorite">
      <% if (locals.userLogin) { %>
         <span class="text-danger heart"><i class="far fa-heart fa-lg vacio"></i><i class="fas fa-heart fa-lg relleno"></i></span>
      <% } %>
      <img src="/img/products/<%= product.image %>" alt="...">
    <a href="/detalle"><%= product.id %></a>
      
      <div class="card-body card_body">
          <% if (product.discount!==0) { %>
              <div class="descripcion_recomendados">
                  <h5 class="text-light" ><%= product.discount %> %</h5>
              </div>
          <% } %>
          
          <h5 class="card-title"><%= product.name %></h5>
          <p class="card-text"><%= product.description && product.description.substr(0,60)%>...</p>
          <a href="/products/detalle/<%= product.id %>" class="home__main__article--product-descripcion">ver más</a>
      </div>
  </div>
  <% }) %>





   </main>




   
<%- include("./partials/footer") %>

    <!-- Swiper JS -->
  <%- include("./partials/scripts") %>

    <script src="/javascripts/main.js"></script>
    
</body>

</html>