<!DOCTYPE html>
<html lang="en">

<%- include("./partials/head",{ title: "REGISTER" }) %>

    <body class="register">
        <%- include("./partials/header") %>

            <main class="register_main">

                <div class="register_main_logo_box">

                    <a href="/"><img src="/img/Login/Logo-Toolsxperts_login.png" alt="logo_imagen"></a>


                    <div>
                        <h1>Registrate</h1>
                        <h4>Sign in to continue</h4>
                        <hr>
                    </div>
                    <div>
                        <p>"Somos una empresa...</p>
                        <button class="boton__general btn_register">Learn More</button>
                    </div>
                </div>
                <div class="register_main_form_box row">
                    <h1>Registrate</h1>
                    <div class="col-12 col-md-10 col-lg-8 mx-auto">
                        <form id="formRegister" class="row" action="" method="POST" enctype="multipart/form-data">
                            <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

                            <div class="col-12 col-md-6 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="first_name">Nombre</label>
                                <input type="text" class="form-control" id="first_name" name="first_name"
                                    value="<%= locals.old && (old.first_name && old.first_name)%>" placeholder="Nombre">
                                <span id="msgError-first_name" class="ms-2 text-danger fw-bold">
                                    <%=locals.errors?.first_name?.msg%>
                                </span>
                            </div>
                            <div class="col-12 col-md-6 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="last_name">Apellido</label>
                                <input type="text" class="form-control" id="last_name" name="last_name"
                                    value="<%= locals.old && (old.last_name && old.last_name)  %>"
                                    placeholder="Apellido">
                                <span id="msgError-last_name" class="ms-2 text-danger fw-bold">
                                    <%=locals.errors?.last_name?.msg%>
                                </span>
                            </div>
                            <div class="col-12 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="email">Correo electrónico</label>
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="hello@ejemplo.com">
                                <span id="msgError-email" class="ms-2 text-danger fw-bold">
                                    <%=locals.errors?.email?.msg%>
                                </span>
                            </div>
                            <div class="col-12 col-md-6 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="password">Contraseña</label>
                                <input type="password" class="form-control" id="password" name="password"
                                    placeholder="Ingresa tu contraseña"><i id="viewPassword" class="fa fa-eye"></i>
                                <span id="msgError-password" class="ms-2 text-danger fw-bold">
                                    <%=locals.errors?.password?.msg%>
                                </span>
                            </div>
                            <div class="col-12 col-md-6 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="password_confirmation">Confirmar contraseña</label>
                                <input type="password" class="form-control" id="password_confirmation"
                                    name="password_confirmation" placeholder="Confirma tu contraseña"><i
                                    id="viewPassword2" class="fa fa-eye"></i>
                                <span id="msgError-password_confirmation" class="ms-2 text-danger fw-bold">
                                    <%=locals.errors?.password_confirmation?.msg%>
                                </span>
                            </div>
                            <div class="col-12 col-md-6 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="date">Fecha de nacimiento</label>
                                <input class="form-control" type="date" name="date" id="date"
                                    value="<%= locals.old && (old.date && old.date) %>">
                                <span id="msgError-date" class="ms-2 text-danger fw-bold">
                                    <%=locals.errors?.date?.msg%>
                                </span>
                            </div>
                            <div class="col-12 col-md-6 mb-3 register_main_form_inp_box">
                                <label class="form-label" for="gender">Género</label>
                                <select class="form-select" name="gender" id="gender">
                                    <option value="" disabled selected hidden>Elige tu género</option>
                                    <option value="hombre" <%=locals.old && (old.gender==='hombre' && 'selected' ) %>
                                        >Hombre
                                    </option>
                                    <option value="mujer" <%=locals.old && (old.gender==='mujer' && 'selected' ) %>
                                        >Mujer
                                    </option>
                                    <option value="otro" <%=locals.old && (old.gender==='otro' && 'selected' ) %>
                                        >Prefiero no
                                        decirlo</option>
                                    <span id="msgError-gender" class="ms-2 text-danger fw-bold">
                                        <%=locals.errors?.gender?.msg%>
                                    </span>
                                </select>
                            </div>
                            <div>
                                <input class="boton__general btn_register" type="submit" value="REGISTRATE" />
                            </div>
                            <span class="text-danger fw-bold text-center" id="msgError-empty"
                                class="ms-2 text-danger fw-bold"></span>
                    </div>
                    </form>
                    <div class="register_main_redes">
                        <a href="https://www.instagram.com/"><i class="fab fa-instagram-square"></i></a>
                        <a href="https://www.facebook.com/"><i class="fab fa-facebook"
                                style="color:var(--AzulClaro)"></i></a>
                        <a href="https://myaccount.google.com"><i class="fab fa-google-plus-square"></i></a>
                    </div>
                </div>
            </main>
            <script src="/javascripts/validationRegister.js"></script>
            <%- include("./partials/footer") %>

    </body>