<div class="card card_p">
    <img src="/img/<%= categoryId %>/<%= images.name %>" alt="...">
    <div class="card-body card_body">
        <h5 class="card-title"><%= name %></h5>
        <p class="card-text"><%= description%>></p>
        <a href="/products/detalle/<%= id %>" class="home__main__article--product-descripcion">ver más</a>
    </div>
</div>